.form-styles{
    padding-top: 2%;
    padding-bottom: 2%;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.checkbox-style{
    margin-right: 2%;
}
.btn-styles{
    margin-top: 3%;
}
.user-icon-styles{
  align-self: center;
  color: rgb(151, 58, 14);
  margin: 2%;
  
}
.register-styles{
  margin-top: 10%;
  margin-bottom: 5%;
}
.header-text-style{
  margin: 1%;
  /* padding: 1%; */
  /* margin-bottom: 7%; */
  font-weight: bold;
  color: rgb(121, 133, 14);
  
  height: 10%;
  margin-top: -10%;
}
.forgot-pass{
  margin-top: 4%;
}
.login-style{
  margin-top: 1%;
  padding: 1%;
  margin-bottom: 2%;
}